@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

a:hover {
	text-decoration: none;
}

footer {
	background-color: #C4D7D9;
	border-top: 1px solid #383737;
	padding: .5em;
}

header {
	background-color: #C4D7D9;
	border-bottom: 2px solid #656B6F;
	padding: 0.2em 0;
}

main {
	background-color: #F3F3F4;
	min-height: 560px;
	padding: 1em;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

#btnLaddaEdit, #btnLaddaCreate {
	display: none;
}

#logo {
	left: 0.5em;
	position: absolute;
	top: 0.25em;
	width: 250px;
	z-index: 5;
}

#msgEdit, #msgCreate {
	margin-top: 0.25em;
}

.auth {
	font-family: sans-serif;
	font-size: .9em;
	padding-right: 2.2em;
	text-align: right;
}

.color-green {
	color: green;
}

.color-red {
	color: red;
}

.form-iglesia {
	margin-bottom: 1em;
}

/* edit menu */
.menu .dropdown-menu {
	background-color: #C4D7D9;
}

.menu .navbar {
	margin-bottom: 0;
}

.menu .navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.menu .navbar-default .navbar-nav > li > a, .menu .dropdown-menu > li > a {
	color: #438390;
	font-size: .9em;
	font-weight: 600;
}

.menu .navbar-default .navbar-nav > li > a:hover , .menu .dropdown-menu > li > a:hover {
	color: #2B2B83;
}

.menu .navbar-default .navbar-toggle {
	background-color: #F3F3F4;
}
/*end menu*/

.modal-footer-type-user {
	margin-top: 16%;
}

.modal-footer-iglesia {
	margin-top: 35%;
}

.msgLadda {
	margin: 0.5em 0;
}

.page {
	background: white;
	border-bottom: 1px solid #E7EAEC;
	color: #757481;
	padding-bottom: .5em;
}

.page .active {
	font-size: .8em;
	font-weight: 600;
}

.page h2 {
	font-size: 1.25em;
	margin-top: .5em;
}

.page ul li {
	display: inline-block;
}

.page ul li:after {
	color: #ccc;
	content: ' /';
}

.page ul li:last-child:after {
	content: '';
}

.page ul li a {
	color: #757481;
	font-size: .9em;
}

.relative {
	position: relative;
}

.tableData {
	background: white;
	border-top: 3px solid #438390;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
}

.tableData .contentTable {
	font-size: .9em;
	padding: 1em;
}

.tableData .contentTable thead tr {
	background: #F5F5F6;
}

.tableData .headerTable {
	border-bottom: 1px solid #E7EAEC;
	font-family: Arial;
	padding: .5em;
}

@media (max-width: 1000px) {
	#logo {
        width: 220px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}

}